* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ancizar Sans';
}

.main {
    background: linear-gradient(#B8E7FA, #E6E6FA);
}

.navber {
    background-color: #E6E6FA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;

    h3 {
        font-size: 40px;
        font-weight: bold;
    }
}

span {
    color: orange;
}


.btn {
    padding: 15px 20px;
    background: linear-gradient(to right, #FFA500, #FFD447);
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 1px 1.5px 3px rgba(0, 0, 0, 1.5);
    transition:all 0.5s ease;
}
.btn:hover{
    border: none;
    cursor: pointer;
    background: linear-gradient(to left, #FFA500, #FFD447);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 70px 50px;
    background-color: #E6E6FA;
    /* background-color: brown; */
    padding: 20px 50px;
}

.text {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 150px;
    text-align: center;

    h1 {
        font-size: 50px;
        font-weight: 900;
    }
    p{
        font-size: 20px;
        color: rgba(128, 128, 128, 0.792);
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2.5;
    flex-direction: column;
        p{
        font-size: 20px;
        color: rgba(128, 128, 128, 0.792);
    }
}

.about-sec {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 70px 50px;
    background-color: #E6E6FA;
    /* background-color: brown; */
    padding: 20px 50px;

    h1 {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 40px;
        color: gray;
    }

    .about-me p {
        margin: 15px 0px;
        font-size: 20px;
        color: rgba(128, 128, 128, 0.792);
    
    }
}

.vdo-container {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px 20px;
    background-color: #E6E6FA;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.vdo {
    position: relative;
    width: 100%;
    max-width: 720px;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 12px;
    }
}


.last-section {
    margin: 70px 50px;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 60px 20px;

}

.box {
    background: linear-gradient(to bottom, #f8fbff, #aef1ff);
    padding: 30px 20px;
    width: 250px;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.box img {
    height: 60px;
    margin-bottom: 20px;
}

.box h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.box a {
    text-decoration: none;
    font-weight: bold;
}

.box a:hover {
    color: #007bff;
    border-color: #007bff;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 40px;
    .socal img{

        margin:0px 15px;
    }
}